.textInput {
  background-color: #dfd687;
  min-width: 90%; /* Adjust as needed */
  max-width: 90%; /* Adjust as needed */
  min-width:  500px;
  min-height: 150px; /* Increased minimum height */
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-wrap: break-word; /* Text will wrap in textarea */
  resize: none; /* Optional: Prevents resizing the textarea */
margin: 5;

}

.chatbot-ui {
  width: 90%; /* Adjusted to your preferred width */
  height: auto; /* Let the height grow with content */
  min-height: 500px; /* Minimum height to start tall */
  margin: 0 auto; /* Center the container */
  /* Additional styling */
}

p {
  font-size: 18px;
  margin: 10px;
  padding: 12px;
  border: 1px solid #7a7a7a;
  box-sizing: border-box;
  width: 90%;
  min-height: 150px;
  overflow-wrap: break-word; 
  resize: none;
}